<a href="https://colab.research.google.com/github/KimSiGyum/Python/blob/main/%EB%A7%88%EC%9D%B4%ED%81%AC%EB%A1%9C%ED%94%84%EB%A1%9C%EC%84%B8%EC%84%9C20306.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#예제1 : 변수 a에 숫자 2를 할당하고, 출력
a = 2
print(a)

2

In [ ]:
#예제2 : 변수 b에 문자 'micro'를 할당하고, 출력
b = 'micro'
print(b)

micro

In [ ]:
#예약어 확인하기
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
True = 3
print(True)

SyntaxError: ignored

In [ ]:
#예제3 : 변수 a에 문자 'pro'를 할당하고, 자료형 출력
a = 'pro'
print(type(a))

<class 'str'>

In [ ]:
#예제4 : 변수 b에 숫자 24를 할당하고, 자료형 출력
b = 24
print(type(b))

<class 'int'>

In [ ]:
#예제5 : 리스트 변수 만들어보기
import random
dice = [1,2,3,4,5,6]
print(dice)
print(random.choice(dice))

[1, 2, 3, 4, 5, 6]
4

In [ ]:
#예제6 : 튜플 변수를 이용한 동전(앞면, 뒷면) 던지기
import random
coin = ('앞면', '뒷면')
print(random.choice(coin))

뒷면

In [ ]:
#예제7 : 주사위 랜덤으로 3이 나오면 '당첨', 아니면 '꽝' 출력
import random
dice = [1,2,3,4,5,6]
a = random.choice(dice)

if a == 3:
    print('당첨')
else:
    print('꽝')

꽝

In [ ]:
#예제8
import random
coin = ['앞면', '뒷면']
a = random.choice(coin)

if a == '뒷면':
    print('앞면입니다.')
else:
    print('뒷면입니다.')

앞면입니다.

In [ ]:
#예제9
import random
table = [1,2,3,4,5,6]
a = random.choice(table)

if a == 1:
    print('1번 테이블로 이동합니다.')
elif a == 2:
    print('2번 테이블로 이동합니다.')
elif a == 3:
    print('3번 테이블로 이동합니다.')
elif a == 4:
    print('4번 테이블로 이동합니다.')
elif a == 5:
    print('5번 테이블로 이동합니다.')
else:
    print('6번 테이블로 이동합니다.')

5번 테이블로 이동합니다.

In [ ]:
#예제10
import random
dice = [1,2,3,4,5,6]
a = random.choice(dice)
if a in (1,3,5):
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

In [ ]:
#예제11
a = range(10)
print(list(a))
b = range(4,7)
print(list(b))
c = range(10,1,-1)
print(list(c))
score = [90,85,100,80]
for a in score:
    print('시험 점수는', a, '입니다.')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
시험 점수는 90 입니다.
시험 점수는 85 입니다.
시험 점수는 100 입니다.
시험 점수는 80 입니다.

In [ ]:
#예제12
import random
coin = ['앞면', '뒷면']

for i in range(10):
    a = random.choice(coin)
    print(a)

뒷면
뒷면
뒷면
앞면
뒷면
앞면
뒷면
뒷면
앞면
앞면

In [ ]:
#예제13
import random
coin = ['앞면', '뒷면']
cnt = 0

for i in range(11):
    a = random.choice(coin)
    if a == '앞면':
        cnt = cnt + 1
print(cnt)

6

In [ ]:
#예제14
import random
dice = [1,2,3,4,5,6]
cnt1, cnt2, cnt3, cnt4, cnt5, cnt6 = 0,0,0,0,0,0

for i in range(1, 100001):
    a = random.choice(dice)
    if a == 1:
        cnt1 = cnt1 + 1
    elif a == 2:
        cnt2 = cnt2 + 1
    elif a == 3:
        cnt3 = cnt3 + 1
    elif a == 4:
        cnt4 = cnt4 + 1
    elif a == 5:
        cnt5 = cnt5 + 1
    else:
        cnt6 = cnt6 + 1
print('주사위의 눈1이 나올 확률은?', cnt1/100000)
print('주사위의 눈2이 나올 확률은?', cnt2/100000)
print('주사위의 눈3이 나올 확률은?', cnt3/100000)
print('주사위의 눈4이 나올 확률은?', cnt4/100000)
print('주사위의 눈5이 나올 확률은?', cnt5/100000)
print('주사위의 눈6이 나올 확률은?', cnt6/100000)

주사위의 눈1이 나올 확률은? 0.16622
주사위의 눈2이 나올 확률은? 0.16717
주사위의 눈3이 나올 확률은? 0.16748
주사위의 눈4이 나올 확률은? 0.16774
주사위의 눈5이 나올 확률은? 0.16486
주사위의 눈6이 나올 확률은? 0.16653

In [ ]:
#예제15
for i in range(1, 11):
    if i in (5,9):
        continue
    print(i, '는 청소하기')

1 는 청소하기
2 는 청소하기
3 는 청소하기
4 는 청소하기
6 는 청소하기
7 는 청소하기
8 는 청소하기
10 는 청소하기

In [ ]:
#예제16
import random
coin = ['앞면', '뒷면']

for i in range(5):
    a = random.choice(coin)
    print(a)
    if a == '앞면':
        break

앞면

In [ ]:
#예제17
a = int(input('숫자 첫 번째 '))
b = int(input('숫자 두 번째 '))
for i in range(min(a,b), 0, -1):
    if a % i == 0 and b % i == 0:
        break
print('최대공약수는', i, '입니다.')

숫자 첫 번째 24
숫자 두 번째 16
최대공약수는 8 입니다.

In [ ]:
#예제18
for a in range(1,10):
    print('2 x', a,'=', a*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
#예제19
for j in range(1,10):
    for k in range(1,10):
        print(j, 'x', k, '=', j*k)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
#예제20
i = 1
while i < 10:
    j = 1
    while j < 10:
        print(i, 'x', j, '=', i*j)
        j = j + 1
    i = i + 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
#예제21
a = '서울로봇고등학교'
print(a)
print(a[0:2])
print(a[2:4])
print(a[4:8])

서울로봇고등학교
서울
로봇
고등학교

In [ ]:
#예제22
a = '한가지만 한다.딱 하나'
print(a[8:])
print(a[-4:])

딱 하나
딱 하나

In [ ]:
#예제23
a = '기상 후 1시간을 얼마나 의미 있게 보내느냐에 따라 그날 하루가 결정됩니다.'
print(a.find('의미'))
print(a.index('의미'))
print(a.count('의미'))
print(a.find('습관'))

14
14
1
-1

In [ ]:
#예제24
a = 'smith'.upper()
b = 'SMITH'.lower()
c = 'smith'.title()
print(a)
print(b)
print(c)

SMITH
smith
Smith

In [ ]:
#예제25
a = ['Future', 'fUture', 'today', 'fuTure', 'futuRe']
cnt = 0
for k in a:
    if k.lower() == 'future':
        cnt = cnt + 1
print(cnt)

4

In [ ]:
#예제26
jobs = open()
data = jobs.read()
data2 = data.split()
cnt = 0
for j in data2:
    if j.lower() == 'today':
        cnt = cnt + 1
print(cnt)

TypeError: ignored